body {
    background: #1e1e1e;
    padding: 0% 10%;
    font-family: sans-serif;    
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

.main {
    
}


.header {
    
    display: flex;
    justify-content: space-between;
    background: #1F2937;
    padding: 0% 15%;
    flex: 1;
    
}

.page-links {
    display: flex;
    justify-content: space-between;
    gap: 36px;
    
}

.logo {
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: whitesmoke;
}

.content {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0%;
}

.container-1 {
    background: #1F2937;
    padding: 10% 15%;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    

}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

}

.big-text1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.button1 {
    border-radius: 25px;
    font-size: 18px;
    background: #3882f6;
    width: 150px;
    padding: 15px;
    font-weight: bold;
    color: white;
}

.image1 {
    border-radius: 25px;
    width: 500px;
    height: auto;

    
}

.container-2 {
    align-items: center;
    padding: 32px 15%;
    display: flex;
    flex-direction: column;
    gap: 32px;

}

.big-text2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.image-box {
    border-radius: 25px;
    border-style: solid;
    border: 0px solid #1F2937;
    width: 150px;
    height: 150px;
    color: #1F2937;
    align-self: center;
}

.container-2-1 {
    padding: 0%;
    display: flex;
    justify-content: space-between;
    gap: 64px;
}

.container-2-2 {
    display: flex;
    flex-direction: column;
}

.secondary-text, ul {
    font-size: 18px;
    color: #e5e7eb;
}

.secondary-text2 {
    font-size: 18px;
    color: #1F2937;
    align-self: center;
}

.container-signup {
    display: flex;
    align-items: center;
    gap: 10px
}

.container-3 {
    background: #e5e7eb;
}

.container-3-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 15%;
    
}

.quote {
    display: flex;
    font-size: 36px;
    font-weight: 300;
    font-style: oblique;
    color: #1F2937;
}

.person {
    align-self: flex-end;
    font-weight: bolder;
}

.container-4{
    display: flex;
    background: white;
    padding: 5% 15%;

}

.container-4-1 {
    display: flex;
    justify-content: space-between;
    border: 2px #136eff solid;
    flex: 1;
    padding: 40px 150px;
    align-items: center;
    border-radius: 25px;
    background: #3882f6;
}

.button2 {
    border-radius: 10px;
    border: 2px solid white;
    font-size: 18px;
    background: #3882f6;
    width: 150px;
    padding: 8px 20px;
    font-weight: bold;
    color: white;
}

.call {
    font-size: 24px;
    font-weight: bold;
    color: #e5e7eb;
}

.sign {
    color: #e5e7eb;

}


.footer {
    padding: 2% 0%;
    display: flex;
    justify-content: center;
    background: #1F2937;
    
}